services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Bitmotion\MarketingAutomation\:
      resource: '../Classes/*'

  Bitmotion\MarketingAutomation\EventListener\AddTcaPersonaRestrictionFieldEventListener:
    tags:
      - name: event.listener
        identifier: 'marketing-automation-persona-restriction-tca'
        event: TYPO3\CMS\Core\Configuration\Event\AfterTcaCompilationEvent

  Bitmotion\MarketingAutomation\EventListener\ChangeDatabaseSchemaEventListener:
    tags:
      - name: event.listener
        identifier: 'marketing-automation-persona-restriction-database-schema'
        event: TYPO3\CMS\Core\Database\Event\AlterTableDefinitionStatementsEvent

  Bitmotion\MarketingAutomation\EventListener\PageContentPreviewRenderingEventListener:
    tags:
      - name: event.listener
        identifier: 'marketing-automation-page-layout'
        event: TYPO3\CMS\Backend\View\Event\PageContentPreviewRenderingEvent
