services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Bitmotion\MarketingAutomation\:
      resource: '../Classes/*'

#  Bitmotion\MarketingAutomation\Persona\PersonaRestriction:
#    tags:
#      - name: event.listener
#        event: TYPO3\CMS\Core\Configuration\Event\AfterTcaCompilationEvent
#        identifier: 'marketingAutomationPersonaPersonaRestrictionTca'
#        method: 'addPersonaRestrictionFieldToTca'

  Bitmotion\MarketingAutomation\EventListener\ChangeDatabaseSchemaEventListener:
    tags:
      - name: event.listener
        identifier: marketing-automation-persona-restriction-database-schema
        event: TYPO3\CMS\Core\Database\Event\AlterTableDefinitionStatementsEvent

  Bitmotion\MarketingAutomation\EventListener\PageContentPreviewRenderingEventListener:
    tags:
      - name: event.listener
        identifier: 'marketing-automation-page-layout'
        event: TYPO3\CMS\Backend\View\Event\PageContentPreviewRenderingEvent
